@charset "utf-8";
/* CSS Document */

@media (min-width: 1250px) {
	
	.search {width: 22%;}
	
}

@media (min-width: 1300px) {
	
	.search {width: 24%;}
	
}

@media (min-width: 1400px) {
	
	.title h1 {font-size:56px; }
	
    .featured_item {margin: 0 16px 32px; width: calc(12.5% - 32px); }
	
	.featured .featured_item:nth-child(4n+1) {clear: none;}
	
	.featured .featured_item:nth-child(8n+1) {clear: left;}
	
	.logo_holder {width: 37.5%; margin:0; }
	
	.search {width: 25%;}
	
	.header_right {float:right; width: 37.5%;}
	
	.nfts .featured_item {width: calc(25% - 32px); }
	
	.nfts .featured_item:nth-child(3n+1),
	.nfts .featured_item:nth-child(6n+1) {clear: none;}
	
	.nfts .featured_item:nth-child(4n+1) {clear: left;}
	
	.nfts_detail_wrap {width: calc(100% - 144px); margin: 0 72px;}
	
	.nfts_detail_img {width: 600px;}
	
	.nfts_detail_data {width: calc(100% - 632px);}
}



@media (min-width: 1600px) {
	
	.nfts .featured_item {width: calc(16.6% - 32px); }
	
	.nfts .featured_item:nth-child(3n+1),
	.nfts .featured_item:nth-child(4n+1) {
		clear: none;
	}
	.nfts .featured_item:nth-child(6n+1) {
		clear: left;
	}
	
}







@media (max-width: 1199px) {
	
	.trigger {display:inline-block; width: 38px; height:48px; float:right; margin-top:23px;}
	
	.trigger span {display:block; width:100%; height: 2px; position:absolute; left: 0; top: 50%; margin: -1px 0 0 0; background:rgba(255, 255, 255, 0.8); -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
	
	.trigger:before {content: ""; display:block; width:100%; height: 2px; position:absolute; left: 0; top: 10px; background:rgba(255, 255, 255, 0.8); -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
	
	.trigger:after {content: ""; display:block; width:100%; height: 2px; position:absolute; left: 0; bottom: 10px; background:rgba(255, 255, 255, 0.8); -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
	
	.trigger.open span {opacity: 0; filter: alpha(opacity=0);}
	.trigger.open:before {transform: rotate(45deg); margin-top: 13px;}
	.trigger.open:after {transform: rotate(-45deg); margin-bottom: 13px;}
	
	.header {height: 96px; overflow:hidden; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; padding-top: 0; padding-bottom: 0;}
	
	.logo_holder {margin: 23px 0;}
	
	.header.open {height: auto;}
	
	.search {width:100%; padding: 0; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
	
	.header_right {width:100%; margin: 15px 0 25px 0; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
	
	.header_right a.butt {float:left;}
	
	.header.open .search {opacity: 1; filter: alpha(opacity=100);}
	
	.header.open .header_right {opacity: 1; filter: alpha(opacity=100);}
	
	.footer_links a {padding: 0 35px;}
	
	.content.nfts_detail, 
	.content.nft_list {padding-top: 30px;}
	
	.content.page .title {padding-top: 32px;}
	
	.nft_title_holder {display: block; margin: 0 /*0 50px 0*/; padding-top:0;}
	
	.nfts_detail .nft_title_holder, 
	.nfts_list .nft_title_holder {margin: 0 0 30px 0; } 
	
	.nft_title {width: calc(100% - 72px); float: right; margin-bottom: 20px;}
	
	.nft_title_holder .back {position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
	
	.nft_title_holder .stats {width:560px; margin: 0 auto 30px 72px; }
	
	.nft_title a.nft_img {top: 0; transform: none;}
	
	.nft_title h1 {/*margin-top:0;*/}
	
	.nft_title p {margin-bottom: 0;}
	
	.stats_full {flex-wrap: wrap;}
	
	.nft_list .stats_full .stat, 
	.sales .stats_full .stat {width: calc(33.3% - 30px); margin: 15px; border:none;}
	
	.nfts_sidebar {width: 260px;}
	
	.nfts_content {width: calc(100% - 292px);}
	
	.nfts_top .sorting {width: 180px;}
	
	.nfts_top {padding: 8px 200px 8px 32px;}
	
	.nfts_detail_img {width: 400px;}
	
	.nfts_detail_data {width: calc(100% - 432px);}
	
	.nfts_detail_data .stats_full .stat {width: 33.3%; margin: 0; padding: 0 10px;}
	
	.attribute {width: calc(33.3% - 24px);	}
	
	.attribute:nth-child(4n+1) {clear: none;}
	
	.attribute:nth-child(3n+1) {clear: left;}
	
	.market .sale span {padding: 0 10px; height:auto;}
	
	.holder {padding: 24px 0; min-height:96px; }

	.holder .stats_holder {margin:0 auto; position: static; top:24px; transform: none; }

	.holder .stats {width:100%; margin: 24px 0; float:left;}

	.owners .stats_title {width: 100%; }

	.owners .stats_title .sel {margin: 0 0 16px 72px; text-align:left; }
	
	.owners.content, 
	.sales.content {padding-top: 30px;}
	
	.owners .nft_title h1,
	.sales .nft_title h1 {margin: 0;}
	
	.owners a.back, 
	.sales a.back, 
	.nft_list a.back {top:44px; transform:none; }
	
	.nft_list img {transform:none; }
	
	.nft_list h1 {margin-top:0;}
	
	
}



@media (max-width: 1099px) {
	
	.pager {
		width: 100%;
		padding: 16px 0 0;
		height: auto;
		margin: 8px -24px 0 -24px;
	}
	
	.pager-only .pager {
		padding: 16px 0 0;
		margin: 0 0;
	}
	
	.nfts_top.pager-only .goto {width: 100%; max-width: 220px; display:block; position:static; margin: 8px auto 16px auto; }
	
	.nfts_top.pager-only span.results_count {width: 100%; display:block; position:static;}
}




@media (max-width: 900px) {
	
	.content {padding-top: 30px;}
	
	.nfts_sidebar {width: 100%; margin-bottom: 32px;}
	
	.nfts_content {width: 100%;}
	
	.nfts_detail_img {width: 100%; margin-bottom: 64px;}
	
	.nfts_detail_data {width: 100%;}
	
	.all_collections_wrap, 
	.owners_tab {overflow-y: auto;}
	
	.all_collections_wrap .all_collections,
	.owners_tab .all_collections {width: 900px;}	

	.all_collections_wrap .all_coll_row.drop_date {text-align: left;}
	
	.footer_links a.f_logo img {height: 32px; width: auto; }
	
	.footer_links a {padding: 0 15px; height: 32px; line-height: 32px;}
	
	.content.page .title {padding-top: 0px;}
	
	.nft_title_holder {padding-top: 0;}
	
	.nft_title_holder .back {top: 50%; transform: translateY(-50%);}
	
	.nfts_sidebar {height: 64px; overflow:hidden;}
	
	.nfts_sidebar > span {cursor:pointer; border-bottom: none; }
	
	.nfts_sidebar > span:after {content: ""; position:absolute; top: 50%; right: 15px; background-image: url(../img/down.svg); background-repeat: no-repeat; background-position: center center; width: 20px; height: 20px; margin-top: -10px;}
	
	.nfts_sidebar > span.open:after {transform: rotate(180deg);}
	
	.nfts_sidebar.open > span {cursor:pointer; border-bottom: 1px solid #424242;}
	
	.nfts_sidebar > span:hover {cursor:pointer;}
	
	.nfts_sidebar.open {height: auto; overflow:hidden;}
	
	.nft_title span.info_toggle {display:inline-block; width: auto; height: 24px; background-repeat: no-repeat; background-position: left center; background-image: url(../img/info.svg); font-size: 14px; line-height: 24px; padding-left: 15px; color: var(--opacity56);}
	
	.nft_title h1 {padding-right: 55px;}
	
	#nft_desc {height:0; overflow:hidden; padding:0 !important; }
	
	#nft_desc.open {height:auto; }
	
	.nft_title span.duplicate,
	.nft_title span.info_toggle,
	.nft_title a {float:left; margin-right: 10px !important; }
	
	.nft_title div .title_links a img {margin: -2px 0 2px 0;}
	
}







@media (max-width: 700px) {
	
	.nfts_sidebar {width: 100%; margin-bottom: 32px;}
	
	.nfts_content {width: 100%;}
	
	.nfts_detail_img {width: 100%; margin-bottom: 64px;}
	
	.nfts_detail_data {width: 100%;}
	
	.all_collections_wrap {overflow-y: auto;}
	
	.all_collections_wrap .all_collections {width: 900px;}	

	.all_collections_wrap .all_coll_row.drop_date {text-align: left;}
	
	.footer_links a.f_logo img {height: 32px; width: auto; }
	
	.footer_links a {padding: 0 15px; height: 32px; line-height: 32px;}
	
	.stats { width: 100%;}
	
	.nft_title_holder .stats {width: 100%; /*margin: 0 0 50px 0;*/ margin: 0 0 16px 0;}
	
	.featured .featured_item, 
	.nfts .featured_item {width: calc(50% - 32px);}
	
	.featured .featured_item:nth-child(3n+1),
	.nfts .featured_item:nth-child(3n+1) {clear: none;}
	
	.featured .featured_item:nth-child(2n+1),
	.nfts .featured_item:nth-child(2n+1) {clear: left;}
	
	.nft_title h1 {display:block;}
	
	.title_links {padding-bottom:12px;}
	
	.nft_title span {display: block; margin-right: 0; padding: 0 0 12px 0; height:auto; width: 100%;}
	
	.nft_title span.duplicate {display: inline-block; padding: 0 10px; width: auto;}
	
	.nft_title_holder .stats .stat {padding: 0; width:33.3%;}
	
	.owners .stats_title .sel {margin: 0 0 16px 0; text-align:center; }
	
}







@media (max-width: 600px) {
	
	.logo img {height: 32px; width: auto; margin-top:8px;}
	
	a.butt {line-height: 32px; padding: 0 10px; margin-top:8px;	}
	
	.home .stat {padding: 0; width: 33.3%;}
	
	.social a {width: 32px; height: 32px; margin-top:8px;}
	
}







@media (max-width: 500px) {
	
	.footer_links a.f_logo {width: 100%; text-align:center; display:block; margin-bottom: 32px;}
	
	.footer_links a:nth-child(2) {border:none;}	
	
	.nft_title_holder {margin: 0 0 20px 0;}
	
	.nft_title a.nft_img {top:0; transform: none; }
	
	.nft_title img {width:75px; height:auto; top:0; transform:none; } /*64*/
	
	.nft_title, 
	.nfts_detail .nft_title {padding: 0 0 0 90px; width: calc(100% - 62px); min-height: 64px;}
	
	.nft_title_holder .back {top: 0; transform: none !important; }
	
	/*.nft_title p {margin-left: -90px; width: calc(100% + 90px);}*/
	
	#nft_desc {margin-left: -90px; width: calc(100% + 90px);}
	
	.attribute {width: calc(50% - 24px);}
	
	.attribute:nth-child(3n+1) {clear: none;}
	
	.attribute:nth-child(2n+1) {clear: left;}
	
	.market .sale {height: auto; padding: 10px}
	
	.holder h2, 
	.holder_right {width:100%; }
	
	.nft_title h1 {margin-top: 0;}	
	
	.owners .nft_title h1, 
	.sales .nft_title h1 {margin-bottom: 0;	margin-top:0; }
	
	.owners a.back, 
	.sales a.back, 
	.nft_list a.back {top:12px;}
	
}







@media (max-width: 479px) {
	
	.logo_holder {width:calc(100% - 40px); }
	
	.logo {width:calc(100% - 40px); padding-bottom: 37px; margin:0;}
	
	.featured .featured_item, 
	.nfts .featured_item {width: calc(100% - 32px);}
	
	.featured .featured_item:nth-child(3n+1),
	.nfts .featured_item:nth-child(3n+1),
	.featured .featured_item:nth-child(2n+1),
	.nfts .featured_item:nth-child(2n+1) {clear: none;}
	
	
}







@media (max-width: 399px) {
	
	.logo_holder {width:calc(100% - 40px); }
	
	.logo {width:calc(100% - 40px); padding-bottom: 37px; margin:0;}
	
	.pager a {margin: 0;}
	
}













